body {
  position: relative;
}

.jumbotron {
  margin-bottom: 0;
}

#tabla, #formulario {
  background-color: #D3D3D3;
}

.container {
  /*max-width: 1000px;*/
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  padding: 2%;
}

.panel {
  margin-bottom: 0;
}

.vertical-center {
  min-height: 100%; 
  min-height: 100vh;
  display: flex;
  align-items: center;
}

form button {
  margin-left: 5%;
}

form label.radio-inline {
  margin-right: 10px;
}

form label.radio-inline+.radio-inline {
    margin-left: 0;
}

#tabla {
  padding-top: 10px;
}

#tabla>#new {
  margin-bottom: 2%;
}

#tabla nav{
  text-align: center;
  vertical-align: middle;
}

#tabla nav>ul.pagination {
  float: right;
}

#tabla nav>span{
  margin-top: 20px;
  vertical-align: middle;
  float: left;
  padding: 6px 1em;
}

.table, .form-horizontal {
  background-color: #EEEEEE;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table>tbody>tr>td:last-child, .table>tbody>tr>td:nth-child(6){
  width:1%;
  white-space:nowrap;
}

#confirm {
  display: none;
  width: 70%;
}

.alert {
  display: none;
  min-width: 70%;
}
.mypopover>div{
  padding:1em;
}
.popimg {
  max-width:15em;
}

#formulario {
  display: none;
  /*max-width: 700px;*/
}

#formulario form {
  padding-top: 1.5em;
}