body {
  position: relative;
}

.jumbotron {
  margin-bottom: 0;
}

#tabla, #formulario {
  background-color: #D3D3D3;
}

.container {
  /*max-width: 1000px;*/
  border-width: 1px;
  border-style: solid;
  border-color: gray;
  border-radius: 10px;
  padding: 2%;
}

.vertical-center {
  min-height: 100%; 
  min-height: 100vh;
  display: flex;
  align-items: center;
}

form button {
  margin-left: 5%;
}

#tabla {
  padding-top: 10px;
}

#tabla>#new {
  margin-bottom: 2%;
}

.table, .form-horizontal {
  background-color: #EEEEEE;
}

.table>tbody>tr>td {
  vertical-align: middle;
}

.table>tbody>tr>td:last-child, .table>tbody>tr>td:nth-child(6){
  width:1%;
  white-space:nowrap;
}

.alert {
  display: none;
  min-width: 70%;
}

/*.alert {
  text-align: center;
  z-index:1;
  position: absolute;
  width: 70%;
  left: 50%;
  top: 50%;
  margin-left: -35%;
  margin-top: -height;
}*/